# Hypothesis

What will be be the probablity of leaving the company based on independent variable using Logistic Regression ?

In [1]:
import pandas as pd

data = pd.read_csv(r"E:\DebugShala\Machine learning\New folder\Churn_Modelling.csv")
data.head()

C:\Users\HIMANSHU SURYAVANSHI\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### Preprocessing

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [6]:
# dealing with categorical_cols
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
cat_cols = ['Surname','Geography','Gender']
for i in cat_cols:
    data[i] = lb.fit_transform(data[i])

In [7]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,1115,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,1177,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,2040,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,289,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,1822,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [9]:
# dealing with continous_cols
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
con_cols = ['RowNumber', 'CustomerId', 'CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary']
for i in con_cols:
    data[i] = mm.fit_transform(data[i].values.reshape(-1,1))

In [10]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.0000,0.275616,1115,0.538,0,0,0.324324,0.2,0.000000,0.000000,1.0,1.0,0.506735,1
1,0.0001,0.326454,1177,0.516,2,0,0.310811,0.1,0.334031,0.000000,0.0,1.0,0.562709,0
2,0.0002,0.214421,2040,0.304,0,0,0.324324,0.8,0.636357,0.666667,1.0,0.0,0.569654,1
3,0.0003,0.542636,289,0.698,0,0,0.283784,0.1,0.000000,0.333333,0.0,0.0,0.469120,0
4,0.0004,0.688778,1822,1.000,2,0,0.337838,0.2,0.500246,0.000000,1.0,1.0,0.395400,0

In [11]:
data.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  float64
 1   CustomerId       10000 non-null  float64
 2   Surname          10000 non-null  int32
 3   CreditScore      10000 non-null  float64
 4   Geography        10000 non-null  int32
 5   Gender           10000 non-null  int32
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  float64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  float64
 10  HasCrCard        10000 non-null  float64
 11  IsActiveMember   10000 non-null  float64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(10), int32(3), int64(1)
memory usage: 976.7 KB

In [14]:
# splitting into train test

from sklearn.model_selection import train_test_split
train,test = train_test_split(data,test_size=0.2)

In [15]:
data.shape

(10000, 14)

In [16]:
train.shape

(8000, 14)

In [17]:
test.shape

(2000, 14)

In [18]:
# dependent and independent
train_x = train.iloc[:,:-1]
train_y = train.iloc[:,-1]

test_x = test.iloc[:,:-1]
test_y = test.iloc[:,-1]

### Performing Logistic Regression

In [21]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression().fit(train_x,train_y)
pred = lr.predict(test_x)
predicted = pred>0.5
predicted

C:\Users\HIMANSHU SURYAVANSHI\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([False, False, False, ..., False, False, False])

In [25]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(pred,test_y)
acc

0.8095