# z distribution

In [73]:
import os
os.getcwd()

'E:\\DebugShala\\Machine learning\\Confidence_interval'

In [33]:
import scipy.stats as st
z=st.norm.ppf(0.975,0,1)#95%

# ppf is a function for the normal distribution
# 0 , 1 ---> probability distribution
# with z distribution we are finding the probability to which we are confidence

In [22]:
from scipy import mean
import numpy as np
import pandas as pd
confidence=0.95#95% confidence level
data=pd.read_csv(r"E:\DebugShala\Machine learning\Confidence_interval\stockmarket.csv")
data.columns
data.head()

         Date   Open   High    Low  Close   Volume  OpenInt
0  11-11-2015  18.50  25.90  18.00  24.50  1584600        0
1  12-11-2015  24.25  27.12  22.50  25.00    83000        0
2  13-11-2015  25.47  26.20  24.55  25.26    67300        0
3  16-11-2015  25.01  26.19  24.13  25.02    16900        0
4  17-11-2015  24.46  25.51  24.38  24.62    25900        0

In [23]:
n=len(data)
n # total number of rows

505

In [24]:
m=mean(data['Close'])
m

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_18036\252685384.py:1: DeprecationWarning: scipy.mean is deprecated and will be removed in SciPy 2.0.0, use numpy.mean instead
  m=mean(data['Close'])

37.342336633663365

In [25]:
sd=np.std(data['Close'])
sd

11.483187166056199

In [30]:
# margin of error for z ditribution
mg=z*(sd)/np.sqrt(n)
mg

1.001532035635817

In [31]:
# upper limit or upper confidence interval
upperci=m+mg
print(upperci)
# next day

38.343868669299184

In [28]:
lowerci=m-mg
print(lowerci)

36.340804598027546

In [29]:
range=upperci-lowerci
range #+- 2

2.0030640712716377

# T distribution

In [74]:
#t distribution
import scipy.stats as st
from scipy.stats import t 
from scipy import mean
import numpy as np
t=st.t.ppf(0.975,len(data)-1) # here 
confidence=0.95#95% confidence

In [75]:
n = len(data)
n

505

In [76]:
data=pd.read_csv(r"E:\DebugShala\Machine learning\Confidence_interval\stockmarket.csv")
data.head()

         Date   Open   High    Low  Close   Volume  OpenInt
0  11-11-2015  18.50  25.90  18.00  24.50  1584600        0
1  12-11-2015  24.25  27.12  22.50  25.00    83000        0
2  13-11-2015  25.47  26.20  24.55  25.26    67300        0
3  16-11-2015  25.01  26.19  24.13  25.02    16900        0
4  17-11-2015  24.46  25.51  24.38  24.62    25900        0

In [77]:
m=mean(data['Close'])
m

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_18036\252685384.py:1: DeprecationWarning: scipy.mean is deprecated and will be removed in SciPy 2.0.0, use numpy.mean instead
  m=mean(data['Close'])

37.342336633663365

In [78]:
s=np.std(data['Close'])
s

11.483187166056199

In [79]:
N=np.sqrt(n)
N #-----> N = sqrt(n)

22.47220505424423

In [80]:
moe=t*s/(N)
moe

1.0039429202539927

In [81]:
upperci=m+moe
print(upperci)

38.346279553917356

In [82]:
lowerci=m-moe
print(lowerci)

36.338393713409374

In [83]:
range=upperci-lowerci
range

2.0078858405079814