### Basic Python

In [35]:
# print()
a = 20
b = 30

print("a is",a)
print("a is 20")
print("a is {} and b is {}".format(a,b))
print("a is {1} and b is {0}".format(a,b))
print("a is %d"%a)
print("a is %s"%a)

a is 20
a is 20
a is 20 and b is 30
a is 30 and b is 20
a is 20
a is 20

In [1]:
'''Inputting ouputting
Control Flow Statements
    1 ) Conditional statements
    2 ) Looping statements
funtions
data structures'''

'Inputting ouputting\nControl Flow Statements\n    1 ) Conditional statements\n    2 ) Looping statements\nfuntions\ndata structures'

In [2]:
### inpputting

a = int(input("enter num:"))
b = float(input("enter num:"))
c = a + b

enter num:10
enter num:20

### control flow statements

In [3]:
# conditional statements

# simple if
if 18<6:
    print("hi")

In [4]:
# if else
if  18<6:
    print("hi")
else:
    print("bye")

bye

In [5]:
# if else ladder
if 18<6:
    print("less")
elif 18==6:
    print("equa")
elif 18>6:
    print("greater")
else:
    print("hmm")

greater

In [6]:
# nested if
user = input("enter username:")
if user=="debug":
    password = input("enter password:")
    if password=="shala":
        print("login successfull")
    else:
        print("wrong password")
else:
    print("user is wrong")

enter username:hskjhd
user is wrong

In [7]:
# nested if
user = input("enter username:")
if user=="debug":
    password = input("enter password:")
    if password=="shala":
        print("login successfull")
    else:
        print("wrong password")
else:
    print("user is wrong")

enter username:debug
enter password:shala
login successfull

### looping statements

In [12]:
# while loop 


# infinter
# while True:
#     print("hii")

# finite loop
i = 0
while i<=5:
    print("DataScience")
    i += 1

DataScience
DataScience
DataScience
DataScience
DataScience
DataScience

In [14]:
# for loop

for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [16]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### functions

In [17]:
# ibuilt fucntions ----> sum() , print() , int() , float()
# user defined function---> with arguments and without arguments

# syntax
# def function():
#     condition
# function_calling()

# without arguments
def demo():
    print("hello")
demo()

hello

In [18]:
# with arguments
def add(a,b):
    print(a+b)
add(2,3)

5

### Data structures

In [19]:
# list

List = [1,2,3,4,5]
List

[1, 2, 3, 4, 5]

In [22]:
# tuple
t = (1,2,3,4,5)
t
print(type(t))

<class 'tuple'>

In [23]:
# set

sett = {}
print(type(sett))

<class 'dict'>

In [24]:
sett = {1,2,3,4,5,5,5}
print(type(sett))
print(sett)

<class 'set'>
{1, 2, 3, 4, 5}

In [28]:
# dictionary
d = {
    "jan":12000,
    "feb":13000,
    "name":"himanshu"
}
d

{'jan': 12000, 'feb': 13000, 'name': 'himanshu'}