In [15]:
import pandas as pd

data = pd.read_csv(r"E:\DebugShala\Machine learning\5 Preprocessing\adult_salary_dataset.csv")
data.head()

,Age,Workclass,fnlwgt,education,eduction_no,status,occupation,relationship,race,sex,capital_gain,capital_loss,hoursperweek,native country,Salary
0,39.0,State-gov,77516.0,Bachelors,NaN,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [16]:
data.info

<bound method DataFrame.info of         Age          Workclass    fnlwgt      education  eduction_no  \
0      39.0          State-gov   77516.0      Bachelors          NaN
1      50.0   Self-emp-not-inc   83311.0      Bachelors         13.0
2      38.0            Private  215646.0        HS-grad          9.0
3      53.0            Private  234721.0           11th          7.0
4      28.0            Private  338409.0      Bachelors         13.0
...     ...                ...       ...            ...          ...
26441  58.0            Private  205410.0        HS-grad          9.0
26442  64.0       Self-emp-inc  185912.0    Prof-school         15.0
26443  38.0            Private  292570.0   Some-college         10.0
26444  43.0            Private   76460.0        HS-grad          9.0
26445   NaN                NaN       NaN            NaN          NaN

                    status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
26441   Married-civ-spouse   Machine-op-inspct         Husband   White
26442   Married-civ-spouse      Prof-specialty         Husband   White
26443        Never-married               Sales       Own-child   White
26444        Never-married        Adm-clerical   Not-in-family   White
26445                  NaN                 NaN             NaN     NaN

           sex  capital_gain  capital_loss  hoursperweek  native country  \
0         Male        2174.0           0.0          40.0   United-States
1         Male           0.0           0.0          13.0   United-States
2         Male           0.0           0.0          40.0   United-States
3         Male           0.0           0.0          40.0   United-States
4       Female           0.0           0.0          40.0            Cuba
...        ...           ...           ...           ...             ...
26441     Male           0.0           0.0          40.0   United-States
26442     Male       99999.0           0.0          35.0   United-States
26443   Female           0.0           0.0          50.0   United-States
26444   Female           0.0           0.0          40.0   United-States
26445      NaN           NaN           NaN           NaN             NaN

       Salary
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
26441   <=50K
26442    >50K
26443   <=50K
26444   <=50K
26445     NaN

[26446 rows x 15 columns]>

### checking null values

In [25]:
data.isna().sum()

Age               1
Workclass         1
fnlwgt            1
education         1
eduction_no       2
status            1
occupation        1
relationship      1
race              1
sex               1
capital_gain      1
capital_loss      1
hoursperweek      1
native country    1
Salary            1
dtype: int64

### droping the null values
#####  when we drop the null values then the whole row is deleted of which you are droping the null value

In [23]:
df = data.dropna()

In [26]:
df.isna().sum() # now you can see all the null values has been dropped

Age               0
Workclass         0
fnlwgt            0
education         0
eduction_no       0
status            0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hoursperweek      0
native country    0
Salary            0
dtype: int64

### Dealing with categorical data

In [28]:
# checking columns
df.columns

Index(['Age', 'Workclass', 'fnlwgt', 'education', 'eduction_no', 'status',
       'occupation', 'relationship', 'race', 'sex', 'capital_gain',
       'capital_loss', 'hoursperweek', 'native country', 'Salary'],
      dtype='object')

In [32]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [37]:
cat_cols = ['Workclass', 'education', 'status','occupation', 'relationship', 'race', 'sex', 'native country']

# using for loop to iterating through all the categorical columns to make them(all the values) into numerical format.

for i in cat_cols:
    df[i] = lb.fit_transform(df[i])
print(df[i])

1        39
2        39
3        39
4         5
5        39
         ..
26440    39
26441    39
26442    39
26443    39
26444    39
Name: native country, Length: 26444, dtype: int64

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\1103461608.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = lb.fit_transform(df[i])
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\1103461608.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = lb.fit_transform(df[i])
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\1103461608.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = lb.fit_transform(df[i])
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\1103461608.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = lb.fit_transform(df[i])
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\1103461608.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = lb.fit_transform(df[i])
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\1103461608.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = lb.fit_transform(df[i])
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\1103461608.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = lb.fit_transform(df[i])
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\1103461608.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = lb.fit_transform(df[i])

Note :- salary column is categorical column and it is our target variable so no need to preprocess the salary column

### Dealing with Continuous data

In [43]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()

con_cols = ['Age','fnlwgt', 'eduction_no', 'capital_gain','capital_loss', 'hoursperweek']

for i in con_cols:
    df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
print(df[i])

1        0.122449
2        0.397959
3        0.397959
4        0.397959
5        0.397959
           ...
26440    0.397959
26441    0.397959
26442    0.346939
26443    0.500000
26444    0.397959
Name: hoursperweek, Length: 26444, dtype: float64

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\789665044.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\789665044.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\789665044.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\789665044.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\789665044.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_10992\789665044.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))

## How to Fill Null values ?

In [59]:
'''from sklearn.impute import SimpleImputer
sm = SimpleImputer()
df = sm.fit_transform(df)'''

'from sklearn.impute import SimpleImputer\nsm = SimpleImputer()\ndf = sm.fit_transform(df)'

### Splitting into train test

In [45]:
from sklearn.model_selection import train_test_split

train,test = train_test_split(df,test_size=0.2)

In [48]:
df.shape # total rows

(26444, 15)

In [49]:
train.shape # 80% data in train

(21155, 15)

In [50]:
test.shape # 20% data in test

(5289, 15)

### setting the target variable

##### Train data

In [51]:
train_x = train.iloc[:,:-1] # independent variable
train_y = train.iloc[:,-1] #dependent

In [53]:
train_x.head()

,Age,Workclass,fnlwgt,education,eduction_no,status,occupation,relationship,race,sex,capital_gain,capital_loss,hoursperweek,native country
16456,0.397260,0,0.017242,11,0.533333,0,0,1,4,0,0.0,0.0,0.142857,39
9942,0.136986,4,0.222539,11,0.533333,2,14,0,2,1,0.0,0.0,0.602041,39
1848,0.232877,4,0.153462,9,0.800000,4,10,1,4,0,0.0,0.0,0.397959,39
18175,0.534247,4,0.061002,11,0.533333,2,6,0,4,1,0.0,0.0,0.397959,39
7102,0.013699,0,0.128370,15,0.600000,4,0,3,4,0,0.0,0.0,0.397959,39

In [54]:
train_y.head()

16456     <=50K
9942      <=50K
1848      <=50K
18175     <=50K
7102      <=50K
Name: Salary, dtype: object

##### Test data

In [55]:
test_x = test.iloc[:,:-1] # independent variable
test_y = test.iloc[:,-1] #dependent

In [56]:
test_x.head()

,Age,Workclass,fnlwgt,education,eduction_no,status,occupation,relationship,race,sex,capital_gain,capital_loss,hoursperweek,native country
15258,0.410959,4,0.133912,15,0.600000,2,3,0,4,1,0.0,0.340909,0.469388,39
15580,0.342466,0,0.105536,1,0.400000,2,0,0,4,1,0.0,0.000000,0.214286,7
24837,0.041096,4,0.152483,11,0.533333,4,1,1,4,1,0.0,0.000000,0.397959,39
16932,0.054795,4,0.124716,0,0.333333,4,6,1,3,1,0.0,0.000000,0.397959,6
20358,0.410959,4,0.133744,6,0.266667,2,7,0,2,1,0.0,0.000000,0.561224,0

In [57]:
test_y.head()

15258     <=50K
15580     <=50K
24837     <=50K
16932     <=50K
20358     <=50K
Name: Salary, dtype: object