### hypothesis
find life expectancy based of

In [1]:
import pandas as pd
data = pd.read_excel(r"E:\DebugShala\Machine learning\6 ML intro_superviesd_unsup_&_Regression\Life_Expectancy_Data.xls")

C:\Users\HIMANSHU SURYAVANSHI\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [30]:
data.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [33]:
## reshuffling the columns
data1 = data.reindex(columns=['Country', 'Year', 'Status', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling','Life expectancy '])

In [34]:
data1.head()

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,Afghanistan,2015,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,Afghanistan,2014,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,Afghanistan,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,Afghanistan,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,Afghanistan,2011,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2

In [35]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Adult Mortality                  2928 non-null   float64
 4   infant deaths                    2938 non-null   int64
 5   Alcohol                          2744 non-null   float64
 6   percentage expenditure           2938 non-null   float64
 7   Hepatitis B                      2385 non-null   float64
 8   Measles                          2938 non-null   int64
 9    BMI                             2904 non-null   float64
 10  under-five deaths                2938 non-null   int64
 11  Polio                            2919 non-null   float64
 12  Total expenditure                2712 non-null   float64
 13  Diphtheria                       2919 non-null   float64
 14   HIV/AIDS                        2938 non-null   float64
 15  GDP                              2490 non-null   float64
 16  Population                       2286 non-null   float64
 17   thinness  1-19 years            2904 non-null   float64
 18   thinness 5-9 years              2904 non-null   float64
 19  Income composition of resources  2771 non-null   float64
 20  Schooling                        2775 non-null   float64
 21  Life expectancy                  2928 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [36]:
data1.isna().sum()

Country                              0
Year                                 0
Status                               0
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
Life expectancy                     10
dtype: int64

In [37]:
df = data1.dropna()

## dealing with categorical data

In [38]:
df.columns

Index(['Country', 'Year', 'Status', 'Adult Mortality', 'infant deaths',
       'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',
       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',
       'Life expectancy '],
      dtype='object')

In [39]:
cat_col = ['Country',"Status"]

In [40]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [41]:
for i in cat_col:
    df[i] = lb.fit_transform(df[i])
df[i]

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\1018762908.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = lb.fit_transform(df[i])
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\1018762908.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = lb.fit_transform(df[i])

0       1
1       1
2       1
3       1
4       1
       ..
2933    1
2934    1
2935    1
2936    1
2937    1
Name: Status, Length: 1649, dtype: int32

In [42]:
df.head()

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,0,2015,1,263.0,62,0.01,71.279624,65.0,1154,19.1,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,0,2014,1,271.0,64,0.01,73.523582,62.0,492,18.6,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,0,2013,1,268.0,66,0.01,73.219243,64.0,430,18.1,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,0,2012,1,272.0,69,0.01,78.184215,67.0,2787,17.6,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,0,2011,1,275.0,71,0.01,7.097109,68.0,3013,17.2,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2

## dealing with cont_columns

In [43]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()

In [44]:
con_col = ['Year', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling']

In [45]:
for i in con_col:
    df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
df[i].head()

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_12784\285798359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = mm.fit_transform(df[i].values.reshape(-1,1))

0    0.357576
1    0.351515
2    0.345455
3    0.339394
4    0.321212
Name: Schooling, dtype: float64

In [46]:
df.head()

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,0,1.000000,1,0.362881,0.038750,0.0,0.003759,0.649485,0.008780,0.227696,...,0.543590,0.649485,0.0,0.004889,0.026074,0.630996,0.612100,0.511752,0.357576,65.0
1,0,0.933333,1,0.373961,0.040000,0.0,0.003878,0.618557,0.003743,0.221039,...,0.545055,0.618557,0.0,0.005127,0.000253,0.642066,0.619217,0.508547,0.351515,59.9
2,0,0.866667,1,0.369806,0.041250,0.0,0.003861,0.639175,0.003271,0.214381,...,0.541392,0.639175,0.0,0.005287,0.024525,0.649446,0.626335,0.502137,0.345455,59.9
3,0,0.800000,1,0.375346,0.043125,0.0,0.004123,0.670103,0.021203,0.207723,...,0.569963,0.670103,0.0,0.005608,0.002857,0.656827,0.637011,0.494658,0.339394,59.5
4,0,0.733333,1,0.379501,0.044375,0.0,0.000374,0.680412,0.022923,0.202397,...,0.522344,0.680412,0.0,0.000519,0.002302,0.667897,0.644128,0.485043,0.321212,59.2

In [47]:
### splitting into train test
from sklearn.model_selection import train_test_split
train, test = train_test_split(df,test_size=0.2)

In [48]:
df.shape

(1649, 22)

In [49]:
train.shape

(1319, 22)

In [50]:
test.shape

(330, 22)

In [53]:
### separating independent and dependent variables

train_x = train.iloc[:,:-1] # independent
train_y = train.iloc[:,-1] # dependent

In [54]:
test_x = test.iloc[:,:-1] # independent
test_y = test.iloc[:,-1] # dependent

In [70]:
## simple linear regression

from sklearn.linear_model import LinearRegression
mlr = LinearRegression().fit(train_x,train_y)

In [74]:
prd = mlr.predict(test_x)
prd

array([75.39364065, 70.05057063, 70.3823189 , 81.52972578, 74.04699975,
       68.69788659, 63.22521535, 67.36005063, 83.17060587, 62.3859129 ,
       43.01642994, 67.83841039, 77.41806269, 58.50527705, 74.1267769 ,
       69.93459379, 69.16826867, 71.01389686, 71.34217026, 73.65679919,
       79.91399276, 66.5324312 , 72.87970758, 69.32229919, 84.87588067,
       71.12155682, 69.77210028, 72.46768038, 50.84561936, 60.48560802,
       83.34578567, 60.26551889, 76.37225796, 74.49375066, 66.48969408,
       60.76492776, 69.81218524, 65.46796678, 60.4828303 , 68.36740263,
       70.79102436, 36.84538058, 86.15361227, 72.12029645, 71.05909785,
       72.90228821, 82.25520199, 74.95509741, 76.7632081 , 71.71890959,
       75.54032802, 63.24094791, 78.38604953, 72.09379479, 71.95018631,
       71.46648121, 67.69521026, 84.21536983, 76.36977817, 82.59743016,
       71.35063637, 72.43021875, 70.7419578 , 77.09809695, 79.50031019,
       70.81933614, 75.39615613, 73.12282373, 82.30186664, 71.71457381,
       61.33879659, 76.09569158, 63.22434526, 75.12557867, 76.19556019,
       72.24721058, 69.02975962, 69.33703387, 67.07920441, 70.01088885,
       63.59700539, 77.46492358, 54.57233285, 59.9228598 , 73.13739261,
       75.84363032, 60.46893349, 73.14303044, 71.92043247, 56.59136644,
       64.2063629 , 71.15602131, 72.3623279 , 57.19766914, 66.20530907,
       70.39162582, 80.02557452, 71.22999835, 62.36199102, 57.95863857,
       50.17927606, 60.66346211, 63.39382736, 78.80214053, 60.92470538,
       74.78624524, 72.55765937, 70.98827531, 66.63617005, 72.32012615,
       62.87082974, 80.85959796, 65.19321809, 55.83830635, 74.94326032,
       74.45896373, 68.66251087, 72.46356728, 61.67091418, 82.42951256,
       76.53712738, 79.44734631, 75.08781593, 60.6798949 , 69.85228782,
       70.67022101, 71.24063287, 73.5640938 , 72.35872356, 63.78579525,
       71.18099047, 60.46209257, 61.09987895, 82.69273489, 64.72456268,
       74.44957684, 76.5337183 , 71.9632245 , 70.06148811, 69.66687241,
       69.62435318, 76.46838528, 66.97308686, 68.45924595, 57.84470484,
       68.97090732, 72.03531219, 61.62379131, 77.61119344, 76.40164145,
       57.50951175, 61.46472109, 52.46518298, 73.59656961, 71.24030782,
       77.23892905, 83.16318768, 73.98433656, 68.00627186, 79.6623657 ,
       66.67016163, 67.44102773, 75.20209286, 75.6050946 , 72.90727611,
       76.43386782, 71.81575528, 67.22339163, 57.08080727, 67.44747366,
       73.49726147, 68.07346973, 69.37524007, 78.37827828, 64.29349319,
       68.71679762, 74.75847588, 78.39699187, 72.39965974, 59.92409487,
       66.6218101 , 67.73411719, 64.36748172, 75.54794296, 70.37112799,
       75.83595487, 77.30657279, 65.25483382, 71.99745595, 57.14922751,
       78.00480551, 72.79357587, 58.44012764, 69.96566143, 76.35929141,
       79.9603864 , 52.78731431, 69.66725874, 80.37382276, 65.90829354,
       66.43784394, 58.10976171, 63.16213903, 73.57184111, 78.8123851 ,
       66.45630219, 80.79260856, 66.38804674, 52.45537429, 63.95480332,
       71.66649593, 75.82947698, 71.70085752, 76.08134635, 65.14615677,
       68.74303178, 81.72711173, 66.10726097, 64.59566936, 79.67292745,
       63.08112715, 60.95531881, 81.30544323, 70.1441743 , 81.02040687,
       70.31482676, 70.69618151, 74.76584513, 71.76582152, 64.00712749,
       49.64241679, 70.82835555, 76.57296044, 52.42158936, 77.71822058,
       71.37300997, 60.1881914 , 62.2335262 , 63.66768656, 48.50660212,
       71.55970317, 70.96879439, 72.63715353, 67.94742738, 67.15196655,
       63.77794339, 56.22413623, 63.92188599, 68.04388526, 70.53926072,
       63.39945571, 66.25534112, 61.95151413, 71.8098908 , 76.40171043,
       68.44742741, 84.16719293, 51.45820154, 78.2324153 , 71.67054366,
       72.33360937, 71.22275322, 73.11537814, 50.23460482, 59.44652683,
       85.6886517 , 70.85053803, 73.50868768, 66.14942812, 66.83594452,
       74.79117657, 65.68033706, 55.45870752, 71.27687765, 76.16900858,
       72.7592444 , 49.69775238, 62.63506753, 70.10173245, 60.89961413,
       79.07541741, 78.23641194, 61.53537676, 58.28624864, 71.74933775,
       76.90185959, 78.98619092, 69.3946453 , 69.57512859, 71.62439238,
       84.22304574, 53.60273848, 72.58724518, 73.13745503, 71.03268227,
       70.12912348, 72.45984304, 74.72735414, 57.47136282, 62.69012271,
       62.12023677, 58.72091213, 56.17625178, 71.07727566, 74.48277453,
       79.42040647, 73.26712576, 68.4897322 , 69.13300468, 68.27032536,
       61.69011034, 71.63610778, 71.43558598, 70.71125207, 69.02591353,
       68.1484744 , 70.85815832, 52.27895138, 64.3112007 , 79.44203781,
       64.77001486, 78.92695074, 76.3117673 , 69.07922803, 67.09193687,
       68.79706143, 57.39210682, 67.38667203, 74.99322745, 58.61495926])

In [75]:
test_y

1531    76.0
454     72.4
779     72.3
1004    79.2
358     73.6
        ...
452     72.6
761     59.8
2621    58.3
1739    74.6
890     58.5
Name: Life expectancy , Length: 330, dtype: float64

In [72]:
# rmse

import numpy as np

rmse = np.sqrt(np.mean(prd-test_y)**2)

In [73]:
rmse

0.09048209537236093