### Hypothesis

What will be the atipose tissue rate if waist size=28 ?

In [6]:
import pandas as pd

df = pd.read_csv(r"E:\DebugShala\Machine learning\6 ML intro_superviesd_unsup_&_Regression\wc-at.csv")
df.head()

   Waist     AT
0  74.75  25.72
1  72.60  25.89
2  81.80  42.60
3  83.95  42.80
4  74.65  29.84

### Pre-Processing

In [7]:
df.isna().sum()

Waist    0
AT       0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Waist   109 non-null    float64
 1   AT      109 non-null    float64
dtypes: float64(2)
memory usage: 1.8 KB

1) there is no null value so no need to fill
2) ther is no string or text so need need to convert into numeric .. LabelEncoder not needed
3) values are already small so no need to scale down using MinMaxScaler

In [12]:
# splitting into train test

from sklearn.model_selection import train_test_split

train,test = train_test_split(df,train_size=0.8)

In [13]:
df.shape

(109, 2)

In [14]:
train.shape

(87, 2)

In [15]:
test.shape

(22, 2)

In [24]:
train_x = train.iloc[:,:1] #dependent variable ---> target
train_y = train.iloc[:,1] #independent variable ---> features

In [25]:
test_x = test.iloc[:,:1] #dependent variable
test_y = test.iloc[:,1] #independent variable

### Simple Linear regression

In [50]:
from sklearn.linear_model import LinearRegression

In [51]:
slr = LinearRegression().fit(train_x,train_y)
prd = slr.predict(test_x)

In [52]:
prd

array([152.81749264,  97.25691625,  92.08849054,  65.27728216,
       120.51483195, 109.2089007 ,  57.20161699, 154.43262568,
       165.73855692, 101.13323553,  70.44570787, 126.97536409,
        74.64505376,  63.98517573,  45.41114583,  62.04701609,
       123.74509802,  68.83057484,  59.13977663, 130.20563016,
       115.66943284, 109.2089007 ])

In the predicted output we have not much clarity 

so we will now use formula for simple linear regression

y = b0 + b1*x

In [53]:
# getting intercept value, this value is given by python according to the data
slr.intercept_#b0

-196.05124285786266

In [54]:
# getting slope or coefficient value b1
slr.coef_#b1

array([3.23026607])

In [55]:
#now calculating the adiopose tissue(AT) ,for wait size = 28
# AT = b0 + b1*x
AT = -196.051 + (3.230*28)

In [56]:
AT # according to the data it is giving output as negative

-105.61099999999999

### Using root mean square error (rmse)

rmse ---> used to find the variation according to the given value eg. for -105

we are checking that how much accurate is the value of predicted Adipose tissue AT

In [62]:
# rmse

import numpy as np
print("rmse:",np.sqrt(np.mean(prd-test_y)**2))
# this is the formula for rmse

rmse: 5.340507913213176